:root {
    --mainColor: #eaeaea;
    --secondaryColor: #fff;
    --borderColor: #c1c1c1;
    --mainText: #000;
    --secondaryText: #4b5156;
    --themeDotBorder: #000;
    --previewBackground: rgb(251, 249, 243, 0.8);
}

body {
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: 'Poppins', sans-serif;
    transition: 2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Russo One', sans-serif;
    color: var(--mainText);
}

p,
li,
span,
label,
input,
textarea {
    color: var(--secondaryText);
}

a {
    text-decoration: none;
    color: var(--mainText);
}

ul {
    list-style: none;
}

.main-container {
    /* max-width: 1200px; */
    max-width: 800px;
    margin: 0 auto;
}

.s1 {
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    /* overflow: auto; */
}

.greeting-wrapper {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* height: 200px; */
}

.intro-wrapper {
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    -webkit-box-shadow: 26px 34px 55px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 26px 34px 55px -13px rgba(0, 0, 0, 0.75);
    box-shadow: 26px 34px 55px -13px rgba(0, 0, 0, 0.75);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'nav-wrapper nav-wrapper' 'left-column right-column';
}

.nav-wrapper {
    /* border: 1px solid lightcoral; */
    background-color: #e0e0e0;
    grid-area: nav-wrapper;
    /*it's identifier */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 0 0;
}

.left-column {
    border: 1px solid lightcoral;
    grid-area: left-column;
    padding: 50px 0;
}

.right-column {
    border: 1px solid lightcoral;
    grid-area: right-column;
    display: grid;
    align-content: center;
    justify-content: center;
}

.nav-dots {
    display: flex;
}

.browser-dots {
    background-color: #000;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    margin: 5px;
}

#dot-1 {
    background-color: rgb(255, 5, 5);
}

#dot-2 {
    background-color: rgb(56, 197, 56);
}

#dot-3 {
    background-color: rgb(199, 199, 27);
}

.nav-menu {
    margin: 0;
    /* padding: 10px; */
}

.nav-menu ul li {
    display: inline-block;
    padding: 0px 10px;
}

#profile-pic {
    height: 300px;
    width: 300px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    /* without display: block img not going to middle */
    border-radius: 50%;
}

.theme-personalize-dots {
    display: flex;
    justify-content: center;
}

.theme-dots {
    background-color: #000;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    margin: 5px;
    border: 4px solid var(--themeDotBorder);
    transition: .2s;
}

.theme-dots:hover {
    border: 7px solid var(--themeDotBorder);
    cursor: pointer;
}

#light-mode {
    background-color: #fff;
}

#blue-mode {
    background-color: rgb(28, 64, 193);
}

#green-mode {
    background-color: rgb(28, 193, 47);
}

#purple-mode {
    background-color: rgb(103, 4, 90);
}

.setting-note {
    text-align: center;
    font-size: 14px;
}

#preview {
    width: 300px;
    border: 1px solid rgb(101, 149, 238);
    background-color: var(--previewBackground);
    padding: 15px;
}